#!/bin/bash

## cd
alias c='cd'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

## ls
alias la='ls -a'
alias ll='ls -l'

## find
alias f='find'
alias fp='find `pwd` -name'

## touch
alias t='touch'

## mkdir
alias m='mkdir'

## copy & paste
alias pbc='pbcopy'
alias pbp='pbpaste'

## less
alias l='less'

## Git
alias g='git'
alias gf='git fetch'
alias gb='git branch'
alias gch='git checkout'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gd='git diff'
alias gs='git status'
alias gr='git rm'
alias gl='git log'

## Docker
alias d='docker'
alias di='docker images'
alias dr='docker run'
alias dp='docker ps'

## editor
alias v='code'
alias co='code'
alias n='nvim'
alias nv='nvim'
alias ch='charm'

## python
alias p='python3'

## Haskell
alias ghci='stack ghci'
